h1{
	margin-bottom:30px;
}
th{
	text-align:center;
}
tbody{
	cursor:pointer;
}
h1,#professorSearch,#professorListContainer{
	text-align:center;
}
#professorSearch{
	
	margin-bottom:30px;
}
.professorListDiv{
	height:300px;
	border:1px solid black;
	text-align:center;
	
}
.professorListDiv table{
	
	margin:auto;
	height:150px;
}