	#category{
		height:175px;
		
	}
	#category>div{
		
		height:100%;
		float:left;
	}
	#notice{
		width:30%;
		border-right:1px solid black;	
	}
	#download{
		width:28%;
		border-right:1px solid black;
	}
	
	
	#online{
		width:28%;
		border-right:1px solid black;
	}
	#link{
		width:40%;
		
	}
	#linkImgContainer{
		
		margin-left:10px;
		padding-top:20px;
		height:70%;
		
	}
	#link .linkImg{
		
		width:20%;
		float:left;
		height:100%;
		
	}
	
	
	
	#notice li a{
	text-decoration: none;
	color:#656565;
	}
	
		#noticeList li a{
	text-decoration: none;
	color:#656565;
	}
	
	#noticeList li:nth-child(1){
	padding-top:20px;
	}
	
	#noticeList li{
	padding-left:20px;
	padding-bottom:5px;
	padding-top:5px;
	width: 270px; 
	white-space: nowrap; 
	overflow: hidden;
	white-space: nowrap; 
    text-overflow: ellipsis;
    list-style-position:inside;
    
    
	}
	
	

	#noticeTitle,#onlineTitle,#linkTitle,#downloadTitle{
		clear:both;
		text-align:center;
		width:100%;
		display:block;
		height:30px;
		
		
	}
	
	#downloadList li a{
	text-decoration: none;
	color:#656565;
	}
	
	#downloadList li:nth-child(1){
	padding-top:20px;
	}
	
	#downloadList li{
	padding-left:20px;
	padding-bottom:5px;
	padding-top:5px;
	width: 270px; 
	white-space: nowrap; 
	overflow: hidden;
	white-space: nowrap; 
    text-overflow: ellipsis;
    list-style-position:inside;
    
    
	}
	


	

	
	
	
	
	#noticeTitle{
		margin-top:2px;
		margin-left:5px;
		background-image:url(../img/notice.jpg);
		background-repeat:no-repeat;
		
		
	}
	#downloadTitle{
		margin-top:2px;
		margin-left:5px;
		background-image:url(../img/download.jpg);
		background-repeat:no-repeat;
	}
	#onlineTitle{
		margin-top:2px;
		margin-left:5px;
		background-image:url(../img/online.jpg);
		background-repeat:no-repeat;
		
	}
	#onlineContainer{
		width:100%;
		
		height:80%;
	}
	#onlineContent{
		float:left;
		width:53%;
		height:100%;
		
		
	}
	#onlineText{
		height:60%;
		background-image:url(../img/onlineContent.jpg);
		background-repeat:no-repeat;
		background-size:100%;
		
	}
	#onlineBtn{
		height:38%;
		
		
		
	}
	#onlineBtn input{
		color:#7D7D7D;
		margin-left:20px;
		
	}
	
	#onlineImgContainer{
		float:left;
		width:43%;
		height:100%;
	}
	#onlineImgMargin{
		width:100%;
		height:15%;
		
	}
	#onlineImg{
		
		width:100%;
		height:85%;
		background-image:url(../img/onlineImg.jpg);
		background-repeat:no-repeat;
		background-size:100%;
		
	}
	#linkTitle{
		margin-top:5px;
		margin-left:5px;
		background-image:url(../img/link.jpg);
		background-repeat:no-repeat;
	}
	
	
	#picture{
		height:500px;
		width:100%;
		border-bottom:1px solid gray;
		margin-bottom:20px;
		background-image:url(../img/mainImage.jpg);
		background-repeat:no-repeat;
		background-size:100%;
	}
	
	textarea[name=content]{
		min-height:150px;
	}
	
	