	#category{
		height:175px;
		border:1px solid black;
	}
	#category>div{
		border:1px solid black;
		height:100%;
		float:left;
	}
	#notice{
		min-width:30%;	
	}
	
	#noticeTitle{
		text-align:center;
	}
	
	#online{
		min-width:28%;
	}
	#link{
		min-width:40%;
		padding-top:50px;
	}
	#link div{
		border:1px solid black;
		width:25%;
		float:left;
	}
	
	#picture{
		height:380px;
		border:1px solid black;
		
	}
	@media(min-width:768px){
	
	}
	@media(max-width:767px){
	
	}