#question td {
	
	 text-align:left;
	
}
#question th{
	width:80px;
}

#answer{
	border:1px solid #ACACAC;
	height:80px;

}
button#questionWrite{
	float:right;
}

input#questionSave{
	float:right;
}

#answerSave{
	float:right;
	margin-top:5px;
}
button{
	margin-top:5px;
}